@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(../../assets/fonts/Rubik-Regular.ttf);
}

.projects__intro{
  margin-top: 0px;
  margin-bottom: 32px;
  padding: 16px;
  font-family: Rubik-Regular, serif;
}

.projects__container {
  margin: auto;
  width: 80%;
  max-width: 1000px;
  height: 400px;
  color: whitesmoke;
}

.projects__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: whitesmoke;
}

.projectTile {
  margin: 16px;
  width: 320px;
  height: 240px;;
  position: relative;
}

.projectLogo {
  border-radius: 12px;
  width: 320px;
  height: 240px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  transition: 1s;
}

.projectLogo > img{
  border-radius: 12px;
  width: 100%
}

.projectDescription {
  background-color: black;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  z-index: 10;
}

.projectDescription__title{
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 12px;
}

.projectDescription__text{
  padding: 16px;
  font-size:16px;
  color: whitesmoke;
  text-align: left;
}

.projectLogo:hover .projectDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.project__pageContainer{
  margin: auto;
  width: 80%;
  max-width: 1000px;
  font-family: Rubik-Regular, serif;
  font-size: 20px;
  color: whitesmoke;
  text-align: left;
}

.project__featureList{
  list-style: square;
}

