.projects__container {
  color: whitesmoke;
}

.projects__nav {
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
}

.projectTile {
  margin: 16px;
  width: 400px;
  height: 300px;
  position: relative;
  cursor: pointer;
}

.projectLogo {
  border-radius: 12px;
  width: 320px;
  height: 200px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
  transition: 1s;
}

.projectLogo > img{
  border-radius: 12px;
  width: 400px;
  height: 300px;
}

.projectDescription {
  margin: 16px;
  padding: 16px;
  border-radius: 12px;
  background-color: black;
  width: 336px;
  height: 234px;
  top: 0;
  left: 0;
  position: absolute;
  display:none;
  opacity: 90%;
  z-index: 10;
}

.projectDescription__text{
  font-size:20px;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
}

.projectLogo:hover .projectDescription {
  display: block;
}

