@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(../../../assets/fonts/Rubik-Regular.ttf);
}

.radiogram__container{
  margin: auto;
  width: 80%;
  max-width: 1000px;
  font-family: Rubik-Regular, serif;
  font-size: 20px;
  color: whitesmoke;
  text-align: left;
}