@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(../../assets/fonts/Rubik-Regular.ttf);
}

.about__container{
  margin: auto;
  width: 80%;
  max-width: 1000px
}
.about__text{
  padding: 16px 0px;
  text-align: left;
  font-family: Rubik-Regular, serif;
  font-size: 16px;
  color: whitesmoke;
}