@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(../../assets/fonts/Rubik-Regular.ttf);
}



.home-container {
  margin: 2em;
  background-color: #101010;
  border-radius: 1em;
  box-shadow: 0px 4px 8px;
  padding: 1em
}

.home-title {
  font-family: Rubik-Regular, serif;
  font-size: 3em;
  color: whitesmoke;
  padding: 0.25em
}

/* ###################################### */

