@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(../../assets/fonts/Rubik-Regular.ttf);
}

.title__container {
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid whitesmoke 2px;
  border-radius: 8px;
}

.title {
  font-family: Rubik-Regular, serif;
  font-size: 1em;
  color: whitesmoke;
}

.title__underConstruction {
  margin: 1em;
  align-content: center;
}

.title__underConstruction > img {
  border-radius: 8px;
}

.title__underConstruction__text {
  font-size: 1em;
}