@font-face {
  font-family: "PermanentMarker-Regular";
  src: local("PermanentMarker-Regular"), url(../../assets/fonts/PermanentMarker-Regular.ttf);
}

.navbar__container{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar__titleContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__titleProfilePic{
  margin: 12px;
  width: 56px;
  border-radius: 100px
}

.navbar__title{
  text-align: left;
  padding: 0px 20px;
  font-family: PermanentMarker-Regular, serif;
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
}



.navbar__titleButton{
  margin: 16px;
  padding: 8px;
  background-color: #101010;
  border: none;
  border-radius: 12px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.navbar__links{
  padding: 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center
}

.navbar__linkButton{
  margin: 16px;
  padding: 8px;
  background-color: #282c34;
  border: none;
  border-radius: 12px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.navbar__linkButton:hover{
  background-color: #101010;
}

.navbar__linkButton:mou{
  background-color: #101010;  
}

.navbar__linkItem{
  padding: 0px 16px;
  font-family: PermanentMarker-Regular, serif;
  font-size: 18px;
  color: whitesmoke;
}


