@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(../../assets/fonts/Rubik-Regular.ttf);
}

.navbar-container{
  margin: 1em;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.navbar-title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-title-profilePic{
  margin: 1em;
  width: 3em;
  border-radius: 100px
}

.navbar-title{
  text-align: left;
  padding: 0px 1em;
  font-family: Rubik-Regular, serif;
  font-size: 1em;
  color: whitesmoke;
  text-decoration: none;
}

.navbar-title-button{
  margin: 1em;
  padding: 1em;
  background-color: #101010;
  border: none;
  border-radius: 1em;
  transition-duration: 0.2s;
  cursor: pointer;
}

.navbar-links{
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  align-items: center
}

.navbar-link-button{
  margin: 1em;
  padding: 1em;
  background-color: #101010;
  border: none;
  border-radius: 1em;
  transition-duration: 0.2s;
  cursor: pointer;
}

.navbar-link-button:hover{
  background-color: #282c34;
}

/* .navbar-linkButton:mou{
  background-color: #101010;
} */

.navbar-link-item{
  padding: 0 1em;
  font-family: Rubik-Regular, serif;
  font-size: 1em;
  font-weight: bold;
  color: whitesmoke;
}


