@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(../../assets/fonts/Rubik-Regular.ttf);
}

.navbar-container{
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-title-profilePic{
  margin: 1em;
  width: 3em;
  border-radius: 100px
}

.navbar-title{
  text-align: left;
  padding: 0px 1em;
  font-family: Rubik-Regular, serif;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.navbar-title-button{
  margin: 1em;
  padding: 1em;
  background-color: var(--text-color);
  border: none;
  border-radius: 1em;
  transition-duration: 0.2s;
  cursor: pointer;
}

/* #################################################### */

.navbar-links{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  list-style-type: none;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 1;
  height: 3em
}

.navbar-links > li {
  margin: 0 0.5em;
  overflow: hidden;
}

.navbar-link-button{
  margin: 0.5em;
  padding: 0.75em;
  width: 8em;
  background-color: var(--text-color);
  border: none;
  border-radius: 1em;
  transition-duration: 0.2s;
  cursor: pointer;
}

/* .navbar-link-button:hover{
  background-color: #282c34;
} */

.navbar-link-button:hover .navbar-link-item{
  text-decoration-color: var(--background-color);
  text-underline-offset: 0.4em;
}

.navbar-link-item{
  font-family: Rubik-Regular, serif;
  font-size: 1em;
  font-weight: bold;
  color: var(--background-color);
  text-decoration: underline 0.2em var(--text-color);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 0.2s, text-underline-offset 0.2s
}

.navbar-darkmode-toggle{
  width: 3em;
  height: 3em
}

.navbar-darkmode-toggle > img{
  width: 3em;

}

/* #################################################### */

