.gallery-container{
  margin: 1em auto;
  background-color: var(--background-color);
}

.gallery-title{
  padding: 0.5em 0 1em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-color)

}

.gallery-mainImage{
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery-mainImage-pic{
  width: 100%;
  border-width: var(--borderwidth);
  border-style: solid;
  border-color: var(--text-color);
}

.gallery-thumb-container{
  padding: 1em 0;
  width: 100%;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  align-items: center;
}


.gallery-thumb{
  margin: auto;
  box-sizing: border-box;
  border-width: var(--borderwidth);
  width: 98%;
  cursor: pointer;
  transition: 0.1s;
  border-style: solid;
  border-color: var(--text-color);
}

.gallery-thumb:hover{
  scale: 1.2;
  border-color: black;
  z-index: 2

}
