@font-face {
  font-family: "Rubik-Regular";
  src: local("Rubik-Regular"), url(./assets/fonts/Rubik-Regular.ttf);
}

.App {  
  text-align: center;
  font-size: 16px;
}

.section__title{
  font-family: Rubik-Regular, serif;
  font-size: 32px;  
  color: whitesmoke;
}



